/.tmp/
/.gradle/
/.gradle-home/
/build/
/*.log
/prebuilt/*
!/prebuilt/bundle-android-aar/
/prebuilt/bundle-android-aar/*
!/prebuilt/bundle-android-aar/ffmpeg-kit/
/prebuilt/bundle-android-aar/ffmpeg-kit/*
!/prebuilt/bundle-android-aar/ffmpeg-kit/ffmpeg-kit-gpl-full.aar
.DS_Store
.idea
